%body
  .chat-side
    = render 'layouts/chatside'

  .chat-main
    .chat-main__header
      .chat-main__header--group.clearfix
        %h4.chat-main__header--group-name
          = @group.name
        = link_to "Edit", edit_group_path(@group), class: "chat-main__header--group-edit-btn"
      .chat-main__header-members
        MEMBER:
        %span.chat-main__header-members
          = @group.users.pluck(:name).join(", ")

    .chat-main__body
      .chat-main__body--messages-list
      .chat-main__message.clearfix#319
        = render @messages

    .chat-main__footer
      = form_for [@group, @message] do |f|
        .chat-main__footer-form
          .chat-main__footer-form__body
            = f.text_area :body, placeholder: " type a message", class: "message"
            = f.label :image, class: "chat-file" do
              %i.fa.fa-image
              = f.file_field :image, class: "image"
          = f.submit "Send", class: "submit"






