%body
  .chat-side
    .chat-side__user
      .chat-side__user-content
        %h4.chat-side__user-content-name= current_user.name
        = link_to new_group_path, class: "chat-side__user-content--new-group" do
          %i.fa.fa-pencil-square-o
        = link_to edit_user_registration_path, class: "chat-side__user-content--edit-user" do
          %i.fa.fa-cog

    .chat-side__groups
      .chat-side__groups-list
        = render partial: "groups/group", collection: @groups

  .chat-main
    .chat-main__header
      .chat-main__header--group.clearfix
        %h4.chat-main__header--group-name
          = @group.name
        / %a.chat-main__header--group-edit-btn
        = link_to "Edit", edit_group_path(@group), class: "chat-main__header--group-edit-btn"
      .chat-main__header-members
        MEMBER:
        %span.chat-main__header-members
          = @group.users.pluck(:name).join(", ")

    .chat-main__body
      .chat-main__body--messages-list
      .chat-main__message.clearfix#319
        = render partial: "message", collection: @messages

    .chat-main__footer
      / %form.chat-main__footer-form#new_message
      = form_for [@group, @message] do |f|
        .chat-main__footer-form#new_message
          .chat-main__footer-form__body
            / %input.message{ type: "text", placeholder: "type a messsage" }
            = f.text_area :body, placeholder: " type a message", class: "message"
            / %label.chat-file
            = f.label :image, class: "chat-file" do
              %i.fa.fa-image
              = f.file_field :image, class: "image"
          / %input.submit{ type: "submit", value: "Send" }
          = f.submit "Send", class: "submit"






